* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Audiowide', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  height: 100vh;
  font-size: 16px;
  color: #333;
  background-image: url('./images/gradient-rainbow.jpg');
  background-size: cover;
}

#container {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  max-height: 600px;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green;
  background-color: white;
  margin-top: 50px;
}

#gridContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

#btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  margin-left: 50px;
  margin-bottom: 50px;
}

#colorPickerContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#colorPicker {
  width: 100px;
  height: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green;
}

button {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
}

#blackBtn {
  background-color: #333;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  box-shadow: 5px 5px 8px #A9A9A9, 10px 10px 8px 	#808080, 15px 15px 8px 	#708090;
}

#blackBtn:hover {
  background-color: black;
  border: 3px solid whitesmoke;
}

#rgbBtn {
  background-color: #E6E6FA;
  color: #FF1493;
  box-shadow: 5px 5px 8px #FFC0CB, 10px 10px 8px #FF69B4, 15px 15px 8px #DB7093;
  border: 1px solid #FF1493;
}

#rgbBtn:hover {
  background-color: #D8BFD8;
  border: 3px solid #FF1493;
}

#eraseAllBtn,
#eraseOneByOne {
  background-color: whitesmoke;
  color: darkslategray;
  box-shadow: 5px 5px 8px snow, 10px 10px 8px lightgray, 15px 15px 8px darkgray;
  border: 1px solid silver;
}

#eraseAllBtn:hover,
#eraseOneByOne:hover {
  background-color: white;
  border: 3px solid silver;
}

#newGridBtn {
  background-color: #7B68EE;
  color: whitesmoke;
  box-shadow: 5px 5px 8px #8B008B, 10px 10px 8px #7B68EE, 15px 15px 8px #483D8B;
  border: 1px solid #7B68EE;
}

#newGridBtn:hover {
  background-color: 	#9370DB;
  border: 3px solid #7B68EE;
}

.divsBlack {
  background-color: rgba(0,0,0,0.25);
}